/* shared styles for Pika 4.0 */

body {
	background: #EDF6FC;
	}
	
/*
top menu
-------- */

#top-menu,
#header-wrapper,
#footer { /* account for min/max viewport redraw */
	min-width: 980px;
	max-width: 3000px;
	}
#top-menu {
	background: #000;
	border-bottom: 1px solid #B0B5BC; 
	font: 17px calibri, sans-serif;
	height: 28px;
	}
#top-menu ul {
	margin: 0 auto;
	width: 980px;
	}
#top-menu ul li	{
	float: left;
	width: auto;
	}
#top-menu #nav #upload,
#top-menu #nav #help {
	float: right;
	width: auto;
	}
#top-menu a {
	color: #FFF;
	display: block;	
	margin: 3px 0 0 6px;
	padding: 0 9px 1px 8px;
	/*  */
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	}
#top-menu a:hover,
#top-menu #help a {
	background: #D82000;
	}
#top-menu #help a {
	margin-right: 7px;
	}		
#top-menu #upload {
	/*display: none;*/
	}
#top-menu #upload a {
	background: #5E5E5E;
	margin-right: 6px;
	}
#top-menu #upload a:hover {
	background: #7E7E7E;
	}	

/*
header elements
--------------- */

#header-wrapper {
	background: purple;
	border-bottom: 2px solid #D5D7DC;
	}
#header {
	background: transparent;
	clear: left;
	color: #FFF;
	height: 72px;
	margin: 0 auto;
	width: 980px;
	}
#header a {
	color: #FFF;
	}
#header a:hover {
	color: #FFFFA0; /* soft yellow */	
	}
#header #logo {
	float: left;
	font-family: calibri, sans-serif;
	margin: -0.36em 0 0 0;
	padding: 0 0 0 10px;
	width: auto;
	}
#header #logo h1 img {
	margin-right: 10px;
	vertical-align: -3px;
	}	
#header #logo h1 a {
	font-size: 3.60em;
	font-weight: normal;
	}
#header #logo h1 a span {
	font-weight: bold;
	}
#header #logo div {
	font-size: 1.60em;
	margin: -0.50em 0 0 0;
	}
#search {
	float: right;
	width: auto;
	}
#search form {
	padding: 10px 0 0 0;
	text-align: right;
	}
#search input#search-text {
	border: 2px solid #59719F;
	font-size: 13px;
	height: 20px;
	padding: 2px 0 0 4px;
	width: 240px;
	/*  */
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	}
#search input#search-text:focus {
	border: 2px solid #FFD700;
	}
#search input#search-submit {
	padding: 1px 10px 1px 10px;
	width: 110px;
	}
#search #user-label {
	font-size: 1.10em;
	margin-top: 4px;
	}
	
#search #logout-link {
	font-size: 1.10em;
	margin-top: 4px;
	}
	
/* 
content areas
------------- */

#content-wrapper {
	background: #FFF;
	border-left: 1px solid #D5D7DC;
	border-right: 1px solid #D5D7DC;
	font-size: 1.30em;	
	margin: 0 auto;
	padding-bottom: 2.50em;
	overflow: auto;		
	width: 980px;
	}
#content {
	line-height: 1.4;
	padding: 20px 30px 0 30px;
	}
#content a:hover {
	border-bottom: 1px dashed #00F;
	}
#content h2,
#content h3,
#content h4 {
	font-family: calibri, sans-serif;
	font-size: 1.70em;
	font-weight: bold;
	margin: 1.0em 0;
	/*max-width: 674px;*/
	}
#content h3,
#content h4 {
	margin: 0.50em 0;	
	}
#content h3 {
	font-size: 1.50em;
	}
#content h4 {
	font-size: 1.30em;
	}		
#content ul,
#content p,
#content textarea {
	margin: 1.0em 0;
	}
#content p {
	width: 600px;
	}
#main-content {
	float: left;
	width: 670px;
	}
#main-content textarea {
	margin-top: 0;
	width: auto;
	}
#main-content dl {
	float: left;
	margin-right: 20px;
	width: auto;
	}
#main-content dl input {
	width: 160px;
	}
				
/* 
default form elements
--------------------- */

label {
	color: #808080;
	font-size: 11px;
	font-weight: bold;
	}
dl {
	margin: 1.0em 0;
	}
dd {
	margin-bottom: 0.50em;
	}	
input,
select {
	font-family: verdana, sans-serif;
	padding: 2px 4px 3px 4px;
	}
select {
	padding-left: 2px;
	}
input[type=submit] {
	cursor: pointer;
	padding: 0 4px 1px 4px;
	}
ul.submit {
	clear: left;
	}		
input[type=text]:focus {
	border: 2px solid #FFD700;
	/*  */
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;		
	}
.input20 {
	width: 20px;
	}
.input30 {
	width: 30px;
	}	
.input40 {
	width: 40px;
	}
.input60 {
	width: 60px;
	}	
.input80 {
	width: 80px;
	}
.input100 {
	width: 100px;
	}	
.input120 {
	width: 120px;
	}
.input140 {
	width: 140px;
	}	
.input160 {
	width: 160px;
	}
.input180 {
	width: 180px;
	}
.input200 {
	width: 200px;
	}
	
html #content input.required {
	background: #F5F5F5;
	}
	
	
/*
default table styles
-------------------- */

table {
	margin: 1.0em 0 1.50em 0;
	width: 100%;
    }
table#search-list {
	margin-top: -0.50em;
	}	
#pl-table {
	/*width: 100%;*/
	}
#pl-table td {
	border: 1px solid #E0E0E0;
	vertical-align: top;
	}	    
th {
	background: #000 url(https://lsncweb.net/pika/images/custom/table_header_bg.gif) repeat-x;
	color: #FFFFFF;
    font-family: calibri, sans-serif;
	font-size: 1.20em;
	font-weight: bold;
	padding: 1px 6px 3px 6px;
	vertical-align: middle;
	white-space: nowrap;
    }
th.first {
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
    }	
th.last {
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
    }	
td {
	border-bottom: 1px solid #82CAFA;
	font-size: 0.85em;
    padding: 3px 6px 4px 6px;
	vertical-align: middle;
    }
.row1 { /* alternating table rows */
    background-color: transparent;
    }
.row2 { /* alternating table rows */
    background-color: #FFFFEE;
    }
#pager {
	font-size: 14px;
	margin: 1.0em auto;
	width: auto;
	}
#pager td {
	border: 0;
	}
#pager td span {
	margin: 0 6px;
	}	
#pager td #previous {
	margin-right: 20px;
	padding: 3px 6px 4px 6px;	
	}
#pager td #next {
	margin-left: 20px;
	padding: 3px 6px 4px 6px;
	}
#pager td a {
	border: 1px solid #E0E0E0;
	color: #333;
	padding: 3px 3px 4px 3px;
	/*  */
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	}
#pager td a:hover {
	background: #F8FCFF;
	border: 1px solid #00F;
	color: #00F;
	}			
	
/* 
other search and form elements
------------------------------ */	
				
.add-item li {
	list-style: circle;
	margin-left: 20px;
	}
	
/*
footer elements
--------------- */

#footer {
	background: #F1F4F9;
	border-top: 2px solid #D8DFEC;
	clear: both;
	font-family: calibri, verdana, sans-serif;
	font-size: 2.0em;
	padding: 1.0em 0 0 0;
    text-align: center;
	}
	
