<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=us-ascii" />
		<title>Pika: %%[page_title]%%</title>
		<link href="%%[base_url]%%/css/screen.css.php" rel="stylesheet"
		 type="text/css" />
		<!-- header --><!-- %%[header]%% -->
		%%[rss]%%
		<link rel="icon" href="%%[base_url]%%/favicon.ico" />
		<link rel="shortcut icon" href="%%[base_url]%%/favicon.ico" />
	</head>
	<body>

		<div id="header_wrapper">
		<table id="header">
			<tr valign="top">
				<td>
					<a href="%%[base_url]%%/">
						<img src="%%[base_url]%%/images/icon.png"
						 height="48" width="48" />
					</a>
				</td>
				<td class="nowrap" width="50%">
					<p id="site_name">
						<a href="%%[base_url]%%/">%%[org_name]%%<!-- org_name --></a>
					</p>
					
					<p id="software_label">
						%%[nav]%%
					</p>
				</td>
				<td width="50%">
					<form name="sform" method="get" 
					action="%%[base_url]%%/search.php" id="sform">
					<div id="searchbox">
						<input name="s" size="29" value="" accesskey="f"
						class="search_text" type="text" />
						<input name="search_submit"	value="Search" 
						type="submit" />
					</div>
						<p id="auth_label">
						You are logged in as <a href="%%[base_url]%%/prefs.php">
						%%[user_handle]%%<!-- username --></a>.
						</p>
					</form>
				</td>
			</tr>
		</table>
					<p id="shortcuts">
						<a href="%%[base_url]%%/site_map.php" accesskey="m">Site <strong>M</strong>ap</a> |
						<a href="%%[base_url]%%/case_list.php?mode=open" accesskey="l">Case <strong>L</strong>ist</a>&nbsp;|
						<a href="%%[base_url]%%/addressbook.php" accesskey="d">A<strong>d</strong>dress Book</a>&nbsp;|
						<a href="%%[base_url]%%/cal_day.php" accesskey="c"><strong>C</strong>alendar</a>&nbsp;|
						<a href="%%[base_url]%%/intake2.php" accesskey="i"><strong>I</strong>ntake</a>&nbsp;|
						<a href="%%[base_url]%%/activity.php?screen=compose&act_type=T" accesskey="t"><strong>T</strong>ime Slip</a>&nbsp;|
						<a href="%%[base_url]%%/reports/" accesskey="r"><strong>R</strong>eports</a>&nbsp;|
						<a href="mailto:%%[admin_email]%%" accesskey="p">Su<strong>p</strong>port</a>
					</p>
		</div>
		
		<table id="main">
			<tr>
				<td>
					<!-- <img src="%%[base_url]%%/images/blank.gif" height="1" width="1" align="left" alt=""/> -->
					<!-- begin page content -->
					%%[content]%%
					<!-- end page content -->
				</td>
			</tr>
		</table>


		<div id="footer">

		<p id="ql">
			<a href="%%[base_url]%%/site_map.php" accesskey="m">Site <strong>M</strong>ap</a> |
			<a href="%%[base_url]%%/case_list.php?mode=open" accesskey="l">Case <strong>L</strong>ist</a>&nbsp;|
			<a href="%%[base_url]%%/addressbook.php" accesskey="d">A<strong>d</strong>dress Book</a>&nbsp;|
			<a href="%%[base_url]%%/cal_day.php" accesskey="c"><strong>C</strong>alendar</a>&nbsp;|
			<a href="%%[base_url]%%/intake2.php" accesskey="i"><strong>I</strong>ntake</a>&nbsp;|
			<a href="%%[base_url]%%/activity.php?screen=compose&act_type=T" accesskey="t"><strong>T</strong>ime Slip</a>&nbsp;|
			<a href="%%[base_url]%%/reports/" accesskey="r"><strong>R</strong>eports</a>&nbsp;|
			<a href="mailto:%%[admin_email]%%" accesskey="p">Su<strong>p</strong>port</a>
		</p>
		</form>

		<p id="copyright">
			&copy; 2007 Pika Software, LLC 
			<a href="http://pikasoftware.com/">www.pikasoftware.com</a>
		</p>
		
		</div>




	</body>
</html>
