<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>%%[page_title]%%</title>

<style type="text/css">
body {
    color: #000;
    font-family: verdana, arial, sans-serif;
	font-size: 10px;
}
    
dt, dd, select, ul.submit, h2{
	padding:0;
	margin:0;
	float:left;
	display:block;
	clear:both;
}

dd, select, h2, select{
	margin:1px 0px 3px 0px;
}

h2 {
	font-size:11px;
	display:none;
}
select#user_ids, select#case_id {
	width:160px;
}

select#user_ids{
	height:35px;
}
textarea {
	width:155px;
}
input[type="submit"] {
font-size:9px;
}
</style>
</head>
<body>
%%[content]%%
</body>
</html>